# Wrap to buildenv script
if test -f /git-bash.exe; then
    _BUILDENV_PYTHON={{ windowsPython }}
else
    _BUILDENV_PYTHON={{ linuxPython }}
fi
${_BUILDENV_PYTHON} buildenv-loader.py "$@"

# Spawn shell if required
if test $? -eq {{ rcStartShell }}; then
    $SHELL --rcfile .buildenv/shell.sh
fi
