# Load user profile (if any)
if test -e ~/.bashrc; then
    source ~/.bashrc
else test -e ~/.zshrc; then
    source ~/.zshrc
fi

# Activate venv
source .buildenv/activate.sh

# Welcome message
echo "Welcome to buildenv shell!"
